.bag {
    
    font-size: x-large;
    font-weight: bolder;
    border: 2px solid lightskyblue ;
    width:300px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    }


a{
    text-decoration:none; color: whitesmoke;
    font-weight: bold;
   
}
a:hover{color: gold; transition: 0.3s;}

#atas {
    background-color: lightslategray;
    margin: 0px; 
    padding: 5px;
    text-align: right;
    height: 65px; 
    position: absolute;
    left: 0px; top: 0px; right: 0px;
    z-index: 1;

    
}

#time{
    color: whitesmoke;
    float: right;
    position: relative;
    font-weight: bold;
    z-index: 3;
    top: 30px;
    }

#hasil{
    position: relative;
    top: 100px;
}

#logo{
    position: absolute;
    z-index: 3;
}
body {
    background-color: lightgrey;
}

#info {
    border: 2px solid black;
    width: 1300px;
    height: 200px;
    z-index: 4;
    float: left;
    position: relative;
    top: 100px;

}
